.product-video-section {
    margin-top: 100px;
}

.mixing-page .section{
    padding: 2rem 0 1rem !important;
}

@media screen and (min-width: 1200px) {
    .product-video-section {
        margin-top: 0;
    }
}